# Required API Keys
GROQ_API_KEY=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

# Optional: NVIDIA API Keys
NV_GEMMA_KEY=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
NV_USDCODE_KEY=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
NV_PHI3_KEY=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

# Security
SECRET_KEY=kali-secret-2024-change-this-to-random-string

# Local AI
USE_LOCAL_AI=false
